<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CreditSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CreditSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ps1.merchantware.net/merchantware/ws/RetailTransaction/v4/Credit.asmx"
        binding="basicHttpBinding" bindingConfiguration="CreditSoap"
        contract="Merchantware.CreditSoap" name="CreditSoap" />
    </client>
  </system.serviceModel>
</configuration>